@import 'styles/variables';
@import 'styles/sizes';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-primary);

  #nprogress {
    position: relative;
    z-index: 9999999;

    .spinner {
      top: 0;
      right: 0;
      padding: 15px;
      background-color: var(--primary);
      pointer-events: auto;

      .spinner-icon {
        border-width: 9px;
        animation-duration: 750ms;
        animation-timing-function: ease-in-out;
      }
    }
  }
}

a, button.link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .35s ease-in-out;
  color: inherit;
  border: none;
  background-color: transparent;

  &:hover {
    transition: text-decoration-color .1s ease-in-out;
    text-decoration-color: inherit;
  }
}

#app {
  font-family: 'Abel', sans-serif, Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  margin-top: calc(#{var(--header)} * -1);
  padding-top: var(--header);
  background-color: var(--primary);
  transition: background-color .35s ease-in-out;
  box-sizing: content-box;

  @import "styles/buttons";

  &.menu-active {
    & #header {
      margin-left: var(--menu);
      width: calc(100% - var(--menu));
    }

    & #menu {
      transform: none;
    }

    & #content {
      margin-left: var(--menu);
    }

    & #footer {
      margin-left: var(--menu);
    }
  }

  & #content {
    margin-top: var(--header);
    transition: margin-left .5s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 1em 1em 8em;
  }

  @import 'styles/tooltip';
}

@media only screen and (max-width: $mobile_size) {
  #app {
    &.menu-active {
      & #content {
        margin-left: 0;
      }

      & #footer {
        margin-left: 0;
      }
    }
  }
}

@media (hover: none) {
  a, button.link {
    text-decoration-color: inherit;
  }
}

@import 'styles/scrollbar';
